.margin-container {
  margin-top: 50px;
}

.bike-photo {
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

.bike-description {
  background-color: white;
  box-shadow: 1px 1px #EBEBF3;
  border-radius: 4px;
  padding: 10px 30px;
}
