.margin-container {
  margin-top: 10px;
  position: relative;
}

.bike-photo {
  height: 340px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

.bike-description {
  background-color: white;
  box-shadow: 1px 1px #EBEBF3;
  border-radius: 4px;
  padding: 10px 30px;
  height: 340px;
}

.card-category {
  margin-left: 18px;
}

.bottom-btn {
  position: absolute ;
  bottom: 15px;
  width: 84%;
  // padding: -10px -30px;
}
