<h1> Here are all your bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <%= link_to booking.bike.name, booking_path(booking) %>
  </li>
  <% end %>
</ul>


<div class="container text-center">
<%= link_to("Back to your Search Results", "javascript:history.go(-4)", class: "btn btn-warning text-center") %>
</div>
