<div class="search-wagon">
  <!-- Logo -->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Category
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">City Bike</a></li>
      <li><a href="#">Mountain Bike</a></li>
      <li><a href="#">Trekking Bike</a></li>
      <li><a href="#">Children's Bike</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Price per Day
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">0 - 20€</a></li>
      <li><a href="#">20€ - 40€</a></li>
      <li><a href="#">40€ - 60€</a></li>
      <li><a href="#">60€ < </a></li>
    </ul>
  </div>
</div>
