.bike {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: all 0.15s ease;
  background-color: white;
  margin-bottom: 50px;
  &:hover {
    background-color: #F1F1F1;
  }
  justify-content: space-between;
  // border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;

}

/* Body design */
.bike-body {
  flex: 1 1 auto;
}
.bike-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  color: $orange;
  font-family: $body-font;
}
.bike-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  align-items: center;
}

/* bike image */
.bike-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

.bikes-container {
  text-decoration:none;
  a:link {
    text-decoration: none;
  }
  padding: 0 40px;
}

.bike-button {
  margin: 0px;
}

// .flex-offer {
//   flex: 1;
// }

.flex-offer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
