.booking {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: all 0.15s ease;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;  margin-bottom: 50px;
  &:hover {
    background-color: #F1F1F1;
  }
}

/* Body design */
.booking-body {
  flex: 1 1 auto;
}
.booking-body h3 {
  font-weight: bold;
  color: $orange;
  font-family: $body-font;
  font-size: 23px;
  margin-top: 0;
}
.booking-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* booking image */
.booking-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

.bookings-container {
  text-decoration:none;
  a:link {
    text-decoration: none;
  }
  padding: 0 40px;

}
