<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "bikey-logo.png" %>
    <!-- <img src="../../assets/images/bikey-logo.png" alt="logo"> -->
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Log in</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign up</a>
    </div>
  </div>
</div>
